diskrit2/dataset.jpg
diskrit2/graf adjacent.jpg
diskrit2/graf.jpg
diskrit2/Book1.xlsx
diskrit2/urutan.jpg

islam/
kewirausahaan/
pengantarProbabilitas/
sistemOperasi/
ttki/
diskrit2/RESUME MATDIS REPRESENTASI GRAF.docx
diskrit2/RESUME PENGKODEAN TREE.docx
diskrit2/RESUME PEWARNAAN GRAPH.docx
organisasiArsitekturKomputer/UTS_2308561088_D.PDF
strukturData/UTS STRUKDAT.docx
organisasiArsitekturKomputer/UTS ORDAK.docx
strukturData/Hashtable.xlsx
